.items-container {
  background: rgb(233, 233, 233);
  max-width: 1680px;
  margin: 0 auto;
  overflow: hidden;
  &__img {
    width: 100%;
  }
  &__path {
    text-transform: uppercase;
    padding: 50px;
    font-size: 14px;
  }
  &__content {
    display: flex;
    gap: 100px;
  }
}

@media (max-width: 700px) {
  .items-container__content {
    gap: 20px;
  }
  .items-container__path {
    text-align: center;
  }
}
