.product-main {
  padding: 50px 0px;

  .product-info-flex {
    display: flex;
    justify-content: space-between;
    .product-image {
      img {
        width: 450px;
        object-fit: cover;
      }
    }
    .product-info {
      .icons-flex {
        padding: 25px 0px;
        display: flex;
        gap: 50px;
        div {
          display: flex;
          gap: 4px;
        }
      }
      .variants {
        padding: 20px 0px;
        .variants-flex {
          display: flex;
          padding-top: 20px;
          gap: 40px;
          .variant {
            &.active {
              border: 1px solid #c3b212;
            }
            padding: 4px;
            border: 1px solid transparent;
            cursor: pointer;

            text-align: center;
            p {
              font-size: 14px;
            }
          }
        }
      }
      .info-footer {
        display: flex;
        gap: 40px;
        padding-top: 30px;
        .quantity {
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            font-weight: 700;
          }
          img {
            cursor: pointer;
          }
        }
        button {
          background-color: #282828;
          color: #fff;
        }
      }
    }
  }
}
